<div class="col-md-12">
  <% @contributes =  @users.size.values %>
  <% @users.each_with_index do |user, key| %>
    <!--First review-->
    <div class="media">
      <a class="media-left waves-light">
        <%= image_tag user.avatar.nil? ? 'default_user.png' : user.avatar , class: "rounded-circle best_contribute_image_avatar", alt: "User Avatar" %>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <a href="#"><%= user.name %></a>
        </h4>
        <p>
          <a href="<%= (user.id == current_user.id) ? questions_path : contributions_user_path(id: user.id) %>"><%= @contributes[key] %> contrubitions</a>
        </p>
      </div>
    </div>
  <% end %>
</div>
