<br/><br/>
<div class="row" id="contactSection">
  <hr class="horizontal" />
  <div class="col-md-12">
    <p class="flex-center courses-title">Contact</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card-block">
      <!--Header-->
      <div class="text-xs-center">
        <h3><i class="fa fa-envelope"></i> Write to us:</h3>
        <hr class="mt-2 mb-2">
      </div>

      <!--Body-->
      <p>Feel free to drop us a feeback</p>
      <br>

      <!--Body-->
      <div class="md-form">
        <i class="fa fa-user prefix"></i>
        <input type="text" id="form3" class="form-control">
        <label for="form3">Your name</label>
      </div>

      <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        <input type="text" id="form2" class="form-control">
        <label for="form2">Your email</label>
      </div>

      <div class="md-form">
        <i class="fa fa-pencil prefix"></i>
        <textarea type="text" id="form8" class="md-textarea"></textarea>
        <label for="form8">Content</label>
      </div>

      <div class="text-xs-center">
        <button class="btn btn-default">Submit</button>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <div class="card-block">
      <div class="text-xs-center">
        <h3> Our Information</h3>
        <hr class="mt-2 mb-2">
      </div>
      <div class="card-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, nesciunt, cupiditate. Necessitatibus consectetur ipsam, voluptatum eos nemo, culpa ab enim incidunt pariatur amet aliquam, maxime. Modi quos accusantium adipisci impedit?
      </div>
    </div>
  </div>
</div>
