<head>
  <title><%= t "page.home.title" %></title>
  <%= csrf_meta_tags %>
  <link href="//cdn.quilljs.com/1.1.5/quill.snow.css" rel="stylesheet">
  <link href="//cdn.quilljs.com/1.1.5/quill.bubble.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="//cdn.quilljs.com/1.1.5/quill.min.js"></script>
</head>
