<% if errors && !errors.empty? %>
    <div class="row">
      <div class="col-sm-12">
        <div class="card red">
          <div class="card-content white-text">
            <% errors.each do |error| %>
                x <%= error %><br/>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% end %>
