<% unless object.errors.empty? %>
    <div class="row">
      <div class="card red">
        <div class="card-content white-text">
          <% object.errors.full_messages.each do |msg| %>
              x <%= msg %><br/>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
