// Logo DTT
body {
  height: auto !important;
}
.logo_dtt_admin {
  color: #fff;
  font-size: 50px !important;
  display: inline-block;
  margin: auto;
  margin-left: 25%;
  margin-top: 5%;
}

.nav-admin {
  padding: 2rem;
}

.admin_content {
  margin-top: 3rem;
  min-height: 450px;
}

footer.admin_footer {
  height: 20px;
  p {
    color: #000;
  }
}
