<% weeks.each do |week| %>
  <div class="card">
    <!--Card content-->
    <div class="card-block">
      <!--Title-->
      <h4 class="card-title text-underline"><%= week.content %></h4>
      <!--Text-->
      <p class="card-text"><%= week.description %></p>
      <%= render "create_test", _week: week  %>
    </div>
    <!--/.Card content-->
  </div>
<% end %>
