html,
body {
    height: 100%;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
    opacity: .6;
    padding: 1rem;
}

footer.page-footer {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

.carousel {
    height: 50%;
}

@media (max-width: 776px) {
    .carousel {
        height: 100%;
    }
}

#carousel-example-1 {
    height: 100% !important;
}

.carousel-item,
.active {
    height: 100%;
    p {
        width: 40%;
        transform: translateX(80%)
    }
}

.carousel-inner {
    height: 100%;
}

.carousel-item:nth-child(1) {
    background-image: url(carousel1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.carousel-item:nth-child(2) {
    background-image: url(carousel2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.carousel-item:nth-child(3) {
    background-image: url(carousel3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.flex-center {
    color: #fff;
}

.test_nav {
    padding: 1.5rem;
    .nav-item {
        &:after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #fff;
            transition: width .3s;
        }
        &:hover:after {
            width: 100%;
        }

    }
}

.horizontal {
    width: 15rem;
    height: 2px;
    background: #4B515D;
}

.courses-title {
    font-size: 30px;
    color: #2E2E2E;
}

.carousel-button {
    &:hover {
        cursor: pointer;
    }
}

.color_wrap {
    background: #3f729b !important;
}

.md-form {
    label.active {
        transform: translateY(-20px) !important;
    }
}

.suggestion_area {
    transition: all 1s ease-in-out;
}

.new_question {
    .card {
        padding-bottom: 2rem;
    }
}

.toast-top-right {
    top: 6rem !important;
}

ul.nav-head > li.user_email {
  position: relative;
  cursor: pointer;
}

ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;
}

ul.drop-menu li {
  background: transparent;
  color: rgba(255, 255, 255, 0.7);
  height: 50px;
  line-height: 50px;
}
ul.drop-menu li:hover {
  background: #606060;
}
ul.drop-menu li:last-child {
  border-radius: 0px 0px 5px 5px;
}

ul.drop-menu li {
  display: none;
}

li:hover > ul.drop-menu li {
  display: block;
}


li:hover > ul.drop-menu li:nth-child(1) {
  opacity: 0;
  animation: menu-1 300ms ease-in-out forwards ;
}

li:hover > ul.drop-menu li:nth-child(2) {
  opacity: 0;
  animation: menu-1 600ms ease-in-out forwards ;
}

li:hover > ul.drop-menu li:nth-child(3) {
  opacity: 0;
  animation: menu-1 900ms ease-in-out forwards ;
}

li:hover > ul.drop-menu li:nth-child(4) {
  opacity: 0;
  animation: menu-1 1200ms ease-in-out forwards ;
}

@keyframes menu-1 {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px);
  }

  100% {
    opacity: 1;
    transform: rotateY(0) translateY(0px);
  }
}

.inactive {
  td {
    text-decoration: line-through;
  }
}

.not_home_page_nav {
  background-color: #3f729b !important;
}

.content {
  margin-top: 100px;
  min-height: 300px;
}

.normal_body {
  height: auto !important;
  background-color: #f7f7f7;
}

.new_contribute_question {
  margin-top: 120px;
  .container {
    .row {
      .col-md-4 {
        div.wrap_best_content {
          width: 98%;
          background-color: #fff;
          box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
          padding: 2rem;
          h5 {
            margin-bottom: 2rem;
            border-bottom: 1px solid #f7f7f7;
            padding-bottom: 1rem;
          }
        }
      }
      .col-md-8 {
        background-color: #fff;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
        padding: 2rem;
        h5 {
          margin-bottom: 2rem;
          border-bottom: 1px solid #f7f7f7;
          padding-bottom: 1rem;
        }
      }
    }
  }
}

.dropdown_not_home_page {
  ul {
    li {
      background-color: #4285F4;
      opacity: 0.6;
    }
  }
}

.best_contribute_image_avatar {
  width: 50px;
  height: 50px;
}

.course_detail {
  .container {
    background-color: #fff;
    padding: 2rem ;
    border-radius: 5px;
    .right_side {
      border-left: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0rem 2rem;
    }
  }
}

.text-strong {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.course_name {
  // margin-left: 3rem;
  text-align: center;
  font-size: 25px;
}

ul.infos {
  li {
    display: inline;
    // width: 49%;
    margin-right: 1rem;
    // height: 20px;
    margin-bottom: 2rem;
  }
}

.secondary-text {
  color: #aa66cc;
}

.create_test_course {
  margin-top: 2rem;
  li {
    &:first-child {
      a {
        color: #CC0000;
      }
    }
    &:nth-child(2) {
      a {
        color: #FF8800;
      }
    }
    a {
      border: 1px solid;
      padding: 1rem;
      border-radius: 5px;
    }
  }
}
