<div class="col-md-12" style="padding-top: 2rem">
  <% @users.each_with_index do |user, key| %>
    <div class="media">
      <a class="media-left waves-light">
        <%= image_tag user.avatar.nil? ? 'default_user.png' : user.avatar , class: "rounded-circle best_contribute_image_avatar", alt: "User Avatar" %>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <a href="#"><%= user.email %></a>
        </h4>
        <p>
        Score: <%= user.score %>
        </p>
      </div>
    </div>
  <% end %>
</div>
