<section class="container">
<h1><%= t "courses.edit_course" %></h1>

<%= render 'form', course: @course %>

<%= link_to t("courses.show"), [:admin, @course] %> |
<%= link_to t("courses.back"), admin_courses_path %>
</section>